* {
    box-sizing: border-box;
}

* body {
    margin: 0;
}

main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.url_div {
    margin-bottom: 5px;
    height: 36px;
}

.url_div input {
    display: block;
    width: 100%;
    height: 30px;
}

.button_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button_div button {
    width: 30%;
    height: 30px;
}

#text {
    width: 100%;
    resize: none;
    font-size: 15px;
}